.container {
  /* text-align: center; */
  text-indent: 2px;
  font-size: 20px;
  padding: 2px;
  font-variant: small-caps;
}
.initially-showing {
  display: none;
}
.clickable {
  color: #3a5b79;
  font-style: italic;
  cursor: pointer;
}
.clickable:hover {
  text-decoration: underline;
}

.finalResults {
  display: none;
}
.well {
  background-color: #34495e;
  color: white;
}
#cheer {
  color: #3a5b79;
}
